/vevn
/npm-debug.log
/py3env

.idea/vagrant.xml

.idea/encodings.xml

.idea/scopes/scope_settings.xml

.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/web_project.iml

.idea/workspace.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml
